/* Tokyo Night Moon */
@define-color base           #222436;
@define-color surface        #1e2030;
@define-color overlay        #2f334d;

@define-color muted          #545c7e;
@define-color subtle         #828bb8;
@define-color text           #c8d3f5;

@define-color accent         #82aaff;

@define-color red            #ff757f;
@define-color green          #c3e88d;
@define-color yellow         #ffc777;
@define-color blue           #82aaff;
@define-color magenta        #c099ff;
@define-color cyan           #86e1fc;

@define-color highlight_low  #1b1d2b;
@define-color highlight_med  #2d3f76;
@define-color highlight_high #444a73;

@define-color border         @overlay;

/* Optional extras if you want them later:
@define-color orange         #ff966c;
@define-color url            #4fd6be;
*/
