/* Osaka Jade */
@define-color base           #111c18;
@define-color surface        #23372B;
@define-color overlay        #53685B;

@define-color muted          #53685B;
@define-color subtle         #F6F5DD;
@define-color text           #C1C497;

@define-color accent         #509475;

@define-color red            #FF5345;
@define-color green          #549e6a;
@define-color yellow         #E5C736;
@define-color blue           #509475;
@define-color magenta        #D2689C;
@define-color cyan           #2DD5B7;

@define-color highlight_low  #23372B;
@define-color highlight_med  #2a4234; /* slightly above surface for hover */
@define-color highlight_high #53685B;

@define-color border         #23372B;

/* text selection semantics */
@define-color selection_bg   #23372B;
@define-color selection_fg   #C1C497;

@define-color url            #ACD4CF;
