@import url("colors.css");

* {
	border: none;
	border-radius: 0pt;
	font-family: "Adwaita Sans", "JetBrainsMono Nerd Font Propo", sans-serif;
	font-weight: bold;

	font-size: 12pt;
	min-height: 0;
	padding: 0;
	margin: 0;
}

window#waybar {
	background: transparent;
}

tooltip {
	background: @background;
	border: 1pt solid @on_primary;
	border-radius: 12pt;
}

tooltip label {
	color: #ffffff;
	padding: 6pt;
}

#workspaces {
	margin: 4pt 20pt;
}

#workspaces button {
    border-radius: 16pt;
		margin: 0 3pt;
    padding: 3pt 3pt;
		transition: all 0.1s ease-in-out;
}

#workspaces button.active {
    background-color: @on_primary_container;
    color: @on_tertiary_fixed;
		min-width: 30pt;
		min-height: 10pt;
		transition: all 0.1s ease-in-out;
}

#workspaces button:hover {
    background-color: @primary;
    color: @on_tertiary_fixed;
}

#workspaces button.focused {
    background-color: @surface_container;
    box-shadow: inset 0 -3pt #ffffff;
}

#workspaces button.urgent {
    background-color: @on_error;
}

#clock,
#cpu,
#memory,
#pulseaudio,
#network,
#window,
#bluetooth,
#battery {
	background-color: @surface_container;
	padding: 0 9pt 0 9pt;
	border-radius: 12pt;
	margin: 0 0 0 12pt;
	color: @primary;
}

#clock {
	/* font-weight: bold; */
	border: 1pt solid @primary;
}

#battery.warning {
	background-color: @on_tertiary;
}

#battery.critical {
	background-color: @on_error;
}

#power-profiles-daemon {
	background-color: @surface_container;
	padding: 0 9pt 0 9pt;
	border-radius: 10pt;
	margin: 0 0 0 12pt;
}

#power-profiles-daemon.performance {
    background-color: @on_error;
    color: #e1c365;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}
