[Desktop Entry]
Version=1.0
Name=Canvas
Comment=Canvas
Exec=firefox --new-window https://nmbu.instructure.com/
Icon=/home/brouzie/.local/share/applications/icons/nmbu.png
Terminal=false
Type=Application
StartupNotify=true

