[Desktop Entry]
Version=1.0
Name=ChatGPT
Comment=ChatGPT
Exec=firefox --new-window "https://chatgpt.com/"
Terminal=false
Type=Application
Icon=~/.local/share/applications/icons/chatgpt.png
StartupNotify=true
