[Desktop Entry]
Version=1.0
Name=GitHub
Comment=GitHub
Exec=firefox --new-window "https://github.com/"
Terminal=false
Type=Application
Icon=~/.local/share/applications/icons/github.png
StartupNotify=true
