/* Nord */
@define-color base           #2e3440;
@define-color surface        #3b4252;
@define-color overlay        #4c566a;

@define-color muted          #4c566a;
@define-color subtle         #4c566a;
@define-color text           #d8dee9;

@define-color accent         #81a1c1;

@define-color red            #bf616a;
@define-color green          #a3be8c;
@define-color yellow         #ebcb8b;
@define-color blue           #81a1c1;
@define-color magenta        #b48ead;
@define-color cyan           #88c0d0;
@define-color orange         #d08770;

@define-color highlight_low  #3b4252;
@define-color highlight_med  #434c5e;
@define-color highlight_high #4c566a;

@define-color border         #4c566a;

/* text selection semantics */
@define-color selection_bg   #434c5e;
@define-color selection_fg   #d8dee9;

@define-color url            #0087bd;
