/* Everforest Dark Hard */
@define-color base           #272e33;
@define-color surface        #2e383c;
@define-color overlay        #374145;

@define-color muted          #4f5b58;
@define-color subtle         #9da9a0;
@define-color text           #d3c6aa;

@define-color accent         #a7c080;

@define-color red            #e67e80;
@define-color green          #a7c080;
@define-color yellow         #dbbc7f;
@define-color blue           #7fbbb3;
@define-color magenta        #d699b6;
@define-color cyan           #83c092;
@define-color orange         #e69875;

@define-color highlight_low  #343f44;
@define-color highlight_med  #374145;
@define-color highlight_high #868d80;

@define-color border         #4f5b58;

/* text selection semantics */
@define-color selection_bg   #464e53;
@define-color selection_fg   #9da9a0;

@define-color url            #7fbbb3;
